<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>
</head>
<body>

<!-- Person edition -->
<form id="edit-form" th:action="@{/saveEditedPerson(id=${person.id})}" th:method="post">
    <h1>Person Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" th:field="${person.id}" value="4"/>
    </div>

    <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" th:field="${person.name}" type="text" value="John Doe"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
